:root.theme-dark {
  --bg_image: url('../images/cover-image-dark.png');
  --text-decor-color: #FF0070;
  --text-color: #FF0070;
  --header-color: #DB00FF;
  --paragraph-color: #000028;
  --accent-color: #FF0070;
  --section-text-color: #F1B2CE;
  --button-hover: #FF007066;
  --shadow-color: #FF0070;
}

.theme-dark .decorated_element {
  display: block;
}