:root.theme-dark {
  --bg-image: url('../images/cover-image-dark.png');
  --bg-color: #000028;
  --text-decor-color: #ff0070;
  --text-color: #ff0070;
  --header-color: #db00ff;
  --paragraph-color: #000028;
  --accent-color: #ff0070;
  --section-text-color: #f1b2ce;
  --button-hover: #ff007066;
  --shadow-color: #ff0070;
}

.theme-dark .decorated_element {
  display: block;
}