:root.theme-light {
  --bg-image: url('../images/cover-image-light.png');
  --bg-color: #fff2f7;
  --header-color: #ffc2e6;
  --text-decor-color: #ff8dcb;
  --text-color: #353430;
  --accent-color: #353430;
  --button-hover: #32312d66;
  --shadow-color: #ff8dcb;
  --paragraph-color: #353430;
  --section-text-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url('../images/cover-image-light.png');
    --bg-color: #fff2f7;
    --header-color: #ffc2e6;
    --text-decor-color: #ff8dcb;
    --text-color: #353430;
    --accent-color: #353430;
    --button-hover: #32312d66;
    --shadow-color: #ff8dcb;
    --paragraph-color: #353430;
    --section-text-color: #353430;
  }

  .decorated_element {
    display: none;
  }
}

.theme-light .decorated_element {
  display: none;
}