:root.theme-light {
  --bg_image: url('../images/cover-image-light.png');
  --header-color: #FFC2E6;
  --text-decor-color: #FF8DCB;
  --text-color: #353430;
  --accent-color: #353430;
  --button-hover: #32312D66;
  --shadow-color: #FF8DCB;
  --paragraph-color: #353430;
  --section-text-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg_image: url('../images/cover-image-light.png');

    --header-color: #FFC2E6;
    --text-decor-color: #FF8DCB;
    --text-color: #353430;
    --accent-color: #353430;
    --button-hover: #32312D66;
    --shadow-color: #FF8DCB;
    --paragraph-color: #353430;
    --section-text-color: #353430;
  }

  .decorated_element {
    display: none;
  }
}

.theme-light .decorated_element {
  display: none;
}