.page {
  background-image: var(--bg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color) ;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: start;
  position: relative;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  inset-block-start: 10px;
  inset-inline-end: 10px;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
}

.decorated-zone::after {
  inset-block-end: 10px;
  inset-inline-start: 10px;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
}

.decorated_element {
  position: absolute;
  inset-block-start: 11px;
  inset-inline-end: 38px;
  line-height: 25px;
  font-size: var(--font-size);
  color: var(--accent-color);
}

.decorated_element::after {
  content:'';
  position: absolute;
  inline-size: 9px;
  block-size: 9px;
  inset-block-end: 9px;
  inset-inline-start: 43px;
  border: 1px solid var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  border-radius: 100%;
  background: var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
  margin-block-start: 62px;
  font-size: var(--font-size);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.header__theme-menu-button {
  text-transform: lowercase;
  cursor: pointer;
  border: 1px solid transparent;
  background: none;
  inline-size: 70px;
  color: var(--text-color);
  padding-block: 2px;
}

.header__theme-menu-button:not(.header__theme-menu-button_active):hover {
  border: 1px solid var(--button-hover);
  outline: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  outline: none;
  pointer-events: none;
  border: 1px solid currentColor;
}

.title_text {
  text-shadow: 4px 4px 0 var(--shadow-color);
  font-weight: bold;
  line-height: 0.83;
  font-size: var(--header-size);
  color: var(--header-color);
}

.paragraph__header {
  font-size: var(--font-size);
  font-weight: bold;
  line-height: var(--line-height);
  color: var(--paragraph-color);
}

.paragraph__header {
  margin-block-start: 55px;
}

.title-decor {
  font-size: var(--font-size);
  color: var(--paragraph-color);
  background-color: var(--text-decor-color);
}

.main {
  display: flex;
  flex-direction: column;
  margin-inline: 10px;
}

.section {
  display: grid;
  gap: 20px;
  margin-block-start: 40px;
    margin-block-end: 10px;
}

.section_title {
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--accent-color);
  max-width: 355px;
}

.content {
  display: grid;
  gap: 20px;
}

.section-content {
  grid-auto-rows: minmax(min-content, max-content);
}

.section_arguments {
  font-weight: 800;
  line-height: var(--line-height);
  font-size: var(--font-size);
  color: var(--paragraph-color);
  background-color: var(--text-decor-color);
}

.arguments {
    font-weight: 400;
}

.section_paragraphs {
  line-height: var(--line-height);
  font-size: var(--font-size);
  font-weight: 400;
  color: var(--section-text-color);
}

.content-card {
  display: grid;
  gap: 10px;
}

.alternate-content {
  grid-auto-rows: minmax(min-content, max-content);
}

.link {
  position: relative;
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--shadow-color);
}

.link:hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: var(--section-text-color);
  text-shadow: none;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--section-text-color);
}

.section-image {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 100vw;
  font-size: var(--font-size);
}

.gallery_title {
  margin-block-start: 39px;
  margin-block-end: 10px;
}

.images {
  display: grid;
  gap: 10px;
  max-width: 100vw;
}

.images img {
  width: 100%;
  object-fit: cover;
}

.footer {
  display: grid;
  position: relative;
  height: 100vh;
  min-height: 668px;
  margin-block-start: 41px;
  padding-inline: 14px;
}

.title_footer {
  justify-self: center;
  align-self: center;
  text-shadow: 2px 2px 0 var(--shadow-color);
}

@media screen and (min-width: 768px) {
  .header {
    padding-right: 20px;
    padding-left: 0;
    min-height: 1024px;
  }

  .decorated-zone::before {
    inset-block-start: 19px;
    inset-inline-end: 20px;
  }

  .decorated-zone::after {
    inset-block-end: 21px;
    inset-inline-start: 20px;
  }

  .decorated_element {
    inset-block-start: 21px;
    inset-inline-end: 48px;
  }

  .header__theme-menu {
    margin-block-start: 179px;
  }

  .title_text {
    margin-block-end: 0;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .paragraph__header {
    justify-self: end;
    max-width: 364px;
  }

  .paragraph__header {
    margin-block-start: 162px;
  }

  .main {
    display: flex;
    flex-direction: column;
    margin-block-start: 20px;
    margin-inline: 20px;
  }

  .section {
    grid-template-columns: 236px 2fr;
    margin-block-end: 40px;
    column-gap: 20px;
  }

  .section.section-alternate {
    grid-template-columns: 1fr;
  }

  .reasons-content {
    row-gap: 10px;
    align-items: start;
  }

  .content-card {
    gap: 10px;
  }

  .section_title {
    grid-column: 1;
    max-width: 236px;
  }

  .section-image {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .gallery_title {
    grid-column: 1;
  }

  .images {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .images img:nth-child(1) {
    grid-column: span 2;
  }

  .images img:nth-child(2) {
    grid-row: span 2;
  }

  .images img:nth-child(3) {
    grid-row: span 2;
  }

  .images img:nth-child(4) {
    grid-column: 2;
  }

  .images img:nth-child(5) {
    grid-column: span 2;
  }

  .images img {
    height: 100%;
    object-fit: cover;
  }

  .footer {
    display: flex;
    justify-content: center;
    min-height: 1024px;
    margin-block-start: 59px;
  }
}

@media (min-width: 1024px) {
  .header {
    min-height: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: self-start;
    margin-block-start: 6px;
    margin-inline-start: 20px;
  }

  .header__theme-menu-list {
    gap: 10px;
    flex-direction: row;
  }

  .paragraph__header {
    max-width: 491px;
    margin-block-start: 114px;
  }

  .section {
    display: grid;
    grid-template-columns: 314px 2fr;
    column-gap: 20px;
    align-items: start;
  }

  .alternate-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    align-items: start;
  }

  .section_title {
    max-width: 315px;
  }

  .section_arguments {
    height: fit-content;
  }

  .footer {
    min-height: 768px;
  }
}